

.H{
  position: fixed;
  width: 100%;
  top: 0;
}
.footer{
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  color:black;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 100px;
 }

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 30px;
  font-size: 2em;
  top: 0;
  z-index: 0;
}

.nav1 {
  top:0;
  position: fixed;
  z-index:100;
}

.nav a {
  color: white;
  text-decoration: none;
 }

.pic{
  background-color: rgb(137, 233, 233);
  justify-content: space-between;

}

.App{
  background-color: antiquewhite;
  justify-content: center;

}

.box{
background-color: bisque;
  }

  .box2{
  background-color: rgb(238, 199, 160);
  border: 4px solid #cc7d7d;
  border-radius: 10px ;
  padding: 5px;
  margin : 5px;
  justify-content: center;
  align-items: center;
  
  }
  .page2{
    background-color: rgb(240, 237, 235);
    border: 4px solid #cc7d7d;
    border-radius: 10px ;
    padding: 5px;
    margin : 5px;
    display: grid;
    grid-template-columns: auto auto auto auto; 
       
  }
  .p{
    background-color: beige;
 
 
  }

